/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* --clr-body-bg: #3b4252;
  --clr-bg: #2E3440;
  --clr-text: #4C566A; */

  --clr-body-bg: var(--frost3);
  --clr-bg: var(--frost2);
  --clr-text: var(--frost2);
  --clr-div:var(--spirited3);
  --clr-div-border: white;
  --clr-input: var(--spirited2);
  --clr-input-div-border: white;
  --service-image-size: 33%;
  --service-image-size-hover: 7vw;

  /* Nord frost */
  --frost0: #8fbcbb;
  --frost1: #88c0d0;
  --frost2: #81A1c1;
  --frost3: #5E81AC;
  --spirited3: rgba(31, 64, 99, 0.5);
  --spirited2: #0f455c;
  --spirited2rgba: rgba(15, 55, 92, 0.5);

  --spirited-diff: #a28648;

}
* {
  /* background-color: var(--clr-bg); */
  font-family: 'Ubuntu mono', monospace;
}

html {
  background-image: url(big-papuh.png);
  background-size: cover;
  overflow: hidden;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  /* background-color: var(--clr-body-bg); */

}

a {
  color: var(--clr-text);
}

li {
  list-style-type: none;
}

input {
  background-color: var(--clr-input) !important;
  border: none;
  color: var(--clr-text);
}

input:focus {
  outline: none;
}
